<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Log" type="Zivsoft.Log.Handler,Zivsoft.Log"/>

  </configSections>
  <Log level="DEBUG">
    <LogFile>Logs/Forward_Realm.log</LogFile>
    <Console len="max">true</Console>
    <XmlLog enabled="true">Logs/history.log</XmlLog>
    <ShowHeader>true</ShowHeader>
  </Log>

  <!-- If CreateShema is true, he create all table in your database and delete any table existing -->
  <appSettings>
    <!-- ActiveRecord -->
    <add key="CreateShema" value="false"/>

    <add key="SQLHost" value="127.0.0.1"/>
    <add key="SQLDB" value="crystal_realm"/>
    <add key="SQLUsername" value="nightwolf"/>
    <add key="SQLPassword" value="nicolas93"/>

    <!-- Realm Settings -->
    <add key="MaxConnected" value="100"/>
    <add key="SecureKey" value="mdp"/>

    <add key="LoginHost" value="127.0.0.1"/>
    <add key="LoginPort" value="444"/>

    <add key="WaitingQueueEnabled" value="true"/>
    
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
